

*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    /* background-color: 
    #BA090F;
    display: flex;
    justify-content: space-around;
    text-decoration: none; */
    height: 70px;
    width: 100%;
    background: #ce2127;
    display: table;
    /* padding: 0 0 0 25px;
    line-height: 70px; */
}
.avis_logo{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20%;
    color: white;
    text-decoration: none;

}
.avis_logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold
    ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#logores{
    width: 60px;
    height: 100%;
    border-radius: 50%;
    
}

#menuid{
    display: flex;
    height: 10px;
    
    font-size: 20px;
    justify-content:space-evenly ;
    align-items: center;

        color: white;
        /* display: table-cell;
        vertical-align: middle; */
    }
#menuid>li>a{
    text-decoration: none;
    color: white;
}
#menuid>li{
text-decoration: none;
}
.home-car-info {
    display: flex;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
  }
  .home-car-info > i:nth-child(3) {
    color: red;
  }
/* ********************************************************************************************************************** */
.menu ul {
    display: inline-flex;
    list-style: none;
    color: #474747;
}
.menu ul li {
    width: 200px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    font-size: 13px
}
.menu{
    margin-top: 7px;
    margin-left: 30px;
    text-align: center;
    background-color: black;
    display: grid;
}

.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px 0px 11px;

}
.menu ul li a:hover{
    color:#FFFFFF;
   

}
.menu ul li a::after{
    content: "";
 position: absolute;
 background-color: #ce2127;   
 height: 3px;
 width: 0%;
 left: 0;
 bottom: -10px;
 transition: 0.3s;
}
.menu ul li a:hover::after{
    width: 100%;
}
.submenu{
    display: none;
}
.menu ul li:hover .submenu{
    display: block;
    position: absolute;
    background-color:rgb(3, 3, 3);
    margin-top: 15px;
    margin-left: -15px;
}
.menu ul li:hover .submenu ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .submenu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #474747;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu ul li:hover .submenu ul li:hover{
    color:black;
    font-weight: bold;
}
.menu ul li:hover .submenu ul li:last-child{
    border-bottom: none;
}
.fa-solid{
    color: #FFFFFF;

}
/* .menu ul li i:hover{
    color:#FFFFFF;
    font-weight: bold;

}
.menu ul li i::after{
    content: "";
 position: absolute;
 background-color: black;   
 height: 3px;
 width: 0%;
 left: 0;
 bottom: -10px;
 transition: 0.3s;
}
.menu ul li i:hover::after{
    width: 100%;
} */
.form-container{
    margin-top: 7px;
 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-container form {
    margin-left: 20px;
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    /* position:absolute; */
    /* bottom: 4rem; */
    /* left: 100px; */
    background: whitesmoke;
    padding: 20px;
    border-radius: 0.5rem;
}
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span {
    font-weight: 200;
    font-size: 12px;
    color: #474747;
}
.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: rgb(230,216,215);
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #ce2127;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  
}
.form-container form .btn:hover{
    background-color: #0a0a23;
}
/* ************************ */
#car_container{
    margin-top: 50px;
    width: 85%;
    align-items: center;
    margin: auto;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: center;
}
#car-container > div{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px;
    width: 100% ;
 
    
}
.card:hover{
    background-color: rgb(230,216,215);
}
.card{
    width: 80%;
    height: 300px;
    padding: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card:nth-child(9){
    background-color: #ce2127;
    color: #fff;
    
}
.card:nth-child(10){
    background-color: #ce2127;
    color: #fff;
    
}
.card:nth-child(9)>button{
    background-color: #fff;
    color: #ce2127;
}
.card:nth-child(10)>button{
    background-color: #fff;
    color: #ce2127;
}
.card:nth-child(9)>button:hover{
    background-color: #0a0a23;
}
.card:nth-child(10)>button:hover{
    background-color: #0a0a23;
}
img{
    width: 100%;
    margin-top: 15px;
}
.card>h3{
    margin-top: 20px;
}
.card>h4{
    margin-top: 20px;
}
button{
width: 100px;
height: 30px;
background-color: rgb(230, 23, 58);
border: rgb(230, 23, 58);
color: white;
font-size: 20px;
font-family:'Times New Roman', Times, serif;
border-radius: 3px;
text-align: center;
margin-top: 20px;
}
button:hover{
    background-color: #0a0a23;
}
.card:nth-child(7)>h3{
    margin-top: 0px;
}
.card:nth-child(8)>h3{
    margin-top: 0px;
}
.card:nth-child(2)>h4{
    margin-top: 40px;
}
.card:nth-child(4)>h4{
    margin-top: 40px;
}

/*******************FILTER ***********************/
.filter-condition{
    padding: 20px;
    height: 100px;
    font-size: 15px;
    /* font-weight: bold; */
}
.filter-condition select{
    width: 120px;
    padding: 0 0 0 10px;
    margin-left:2%;
    border: none;
    outline: none;
    font-weight: bold;
    color: #ce2127;
    background: transparent;
    cursor: pointer;
}
#pro{
    font-size: 1.8rem;
}
/* signup */
#cross-cont{
    width:10%;
    display: flex;
    justify-content: right;
  
  }
  
  #cross {
      font-size: 40px;
      color: rgb(41, 39, 39);
      cursor: pointer;
  }
  
  .popup{
      border-radius:20px;
      width: 40%;
      /* background: linear-gradient(90deg,#36879b,#6698d1,rgb(70, 159, 159)); */
      background-color: rgba(255, 255, 255, 0.982);
      padding-bottom: 2%;
      position: absolute;
      top: 0%;
      /* top:50%; */
      left: 50%;
      transform: translate(-50%, -50%)scale(0.1); 
    /*  for popop  I will uncomment this and comment next line*/
     /* transform:translate(-50%,-30%) scale(1); */
      visibility: hidden;
      transition: transform 0.4s,top 0.4s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  }
  
  .open-popup {
      visibility: visible;
      top:50%;
      transform:translate(-50%,-30%) scale(1);
      
  }
  
  #signUp_head {
      /* border: 1px solid blue; */
      text-align: center;
      color: #dd4a39;
      width:90%;
  
  
  }
  #signUp_head>h1 {
      margin-top: 5%;
     margin-bottom: 5%;
  }
  
  #signUp_head>h3 {
      display: inline;
      color: black;
      
  }
  
  #signUp_head>a {
      text-decoration: none;
      color: red;
      cursor: pointer;
  }
  
  
  
  #form {
      /* border:2px dashed red; */
      width: 85%;
      margin: auto;
  
  }
  
   #form input {
      /* height: 2.5rem;
      width: 100%;
      margin-top: 8%;
      border: none;
      background-color: #e1dfdf;
      display: block */
      padding-left:10px;
      font-size: 100%;
      height: 2.7rem;
      width: 100%;
      margin-top: 8%;
      border: none;
      background-color: #e1dfdf;
      display: block;
      border-radius:10px;
  }
  
  #form #gender {
  
      height: 1rem;
      width: 10%;
      display: inline;
  
  }
  
  #form #signup_but {
      border: 1px solid red;
      color: red;
      font-weight: 600;
      background: none;
  }
  
  #Fb_Gog_but {
      /* border:1px solid green; */
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
  }
  
  #or {
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: center;
      color: rgb(69, 66, 66);
  }
  
  #facebook {
      background-color: #3b5a95;
      display: flex;
      justify-content: space-around;
      width: 48%;
      color: white;
      border: none;
      font-size: 80%;
      padding:3%;
  
  }
  
  #google {
      background-color: #dd4a39;
      display: flex;
      justify-content: space-around;
      width: 48%;
      color: white;
      border: none;
      font-size: 80%;
      padding:3%;
  }
  
  /* .anchor {
      margin-top: 6%;
  } */
  
  .anchor>a {
      text-decoration: none;
      font-weight: 500;
      color: white
  }
  
  span {
      color: red;
  }
  
  #clickme {
      display: block;
      color: red;
      font-size: 30px;
      position: absolute;
      top: 10px;
  }
   /* for medium screen */
  @media screen and (min-width:641px) and (max-width:1007px) {
      .popup{
          width: 90%;
          margin-top: 10%;
      }
      #Fb_Gog_but{
          display:block;
      }
      #facebook{
          font-size: 1.5rem;
          width:100%;
         margin:auto;
         margin-top: 10%;
     
      }
      #google{
          font-size: 1.5rem;
          width:100%;
          margin:auto;
      }
      #signUp_head{
          width:92%;
  
      }
      #signUp_head>h3 {
      display: block;
    
  }
  /* .anchor {
      margin-top: 2%;
  } */
  }
   /* for small screen */
  @media screen and (max-width:640px) {
      .popup{
          width: 90%;
      }
      #Fb_Gog_but{
          display:block;
      }
      #facebook{
          width:90%;
         margin:auto;
         margin-top: 10%;
     
      }
      #google{
          width:90%;
          margin:auto;
      }
      #signUp_head{
          width:85%;
      }
      #signUp_head>h3 {
      display: block;
    
  }
  .anchor {
      margin-top: 5%;
  }
  }
  /* login */
  
#log_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}
#log_cross-cont{
    /* border:1px solid red; */
  width:10%;
  display: flex;
  justify-content: right;

}

#log_cross {
    font-size: 40px;
    color: rgb(41, 39, 39);
    cursor: pointer;
}

.log_popup {
    border-radius:20px;
    width: 40%;
    /* background: linear-gradient(90deg, #89c8d8, #9ca0a5, rgb(101, 225, 225)); */
    background-color: rgba(255, 255, 255, 0.982);
    padding-bottom: 3%;
    position: absolute;
    top: 0;
    /* top: 35%; */
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);  
   /*  for popop  I will uncomment this and comment next line*/
    /* transform: translate(-50%, -30%) scale(1); */
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.log_open-popup {
    visibility: visible;
    top: 35%;
    transform: translate(-50%, -30%) scale(1);

}


#log_signIn_head {

    width:90%;
    /* border: 1px solid blue; */
    text-align: center;
    color: #dd4a39;
   
  


}
#log_signIn_head>h1 {
    margin-top: 5%;
   margin-bottom: 5%;
}

#log_signIn_head>h3 {
    display: inline;
    color: black; 
}

#log_signIn_head>a {
    text-decoration: none;
    color: red;
    cursor: pointer;
    
}



#log_form {
    /* border:2px dashed red; */
    width: 85%;
    margin: auto;
    margin-top:-5%;

}

 #log_form input {
    padding-left:10px;
    font-size: 100%;
    height: 2.7rem;
    width: 100%;
    margin-top: 8%;
    border: none;
    background-color: #e1dfdf;
    display: block;
    border-radius:10px;
}

#log_form #gender {

    height: 1rem;
    width: 10%;
    display: inline;

}

 #log_form #log_Login_but {
    border: 1px solid red;
    color: red;
    font-weight: 600;
    
    
}

#log_Fb_Gog_but {
    /* border:1px solid green; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#log_google {
    background-color: #dd4a39;
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: white;
    border: none;
    font-size: 80%;
    padding:3%;
}

#log_facebook {
    background-color: #3b5a95;
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: white;
    border: none;
    font-size: 80%;
    padding:3%;

}



#log_or {
    margin-top: 5%;
  margin-bottom: 5%;
    text-align: center;
    color: rgb(69, 66, 66);
}


/* .log_anchor {
    margin-top: 0%;
} */

.log_anchor>a {
    text-decoration: none;
    font-weight: 500;
    color: white
}

span {
    color: red;
}

#log_clickme {
    display: block;
    color: red;
    font-size: 30px;
    position: absolute;
    top: 10px;
}
#log_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}
 /* for medium screen */
@media screen and (min-width:641px) and (max-width:1007px) {
    .log_popup {
        width: 90%;
        margin-top: 10%;
    }

    #log_Fb_Gog_but {
        display: flex;
        justify-content: space-between;
    }

    #log_facebook {
        width: 48%;
        margin: auto;
      

    }

    #log_google {
        width: 48%;
        margin: auto;
        

    }

    #log_signIp_head {
        width: 92%;

    }

    #log_signIp_head>h3 {
        display: block;

    }

    /* .log_anchor {
        margin-top: 2%;
    } */
}
 /* for small screen */
@media screen and (max-width:640px) {
    .log_popup {
        width: 90%;
    }

    #log_Fb_Gog_but {
        display: block;
    }

    #log_facebook {
        width: 90%;
        margin: auto;
        margin-top: 10%;

    }

    #log_google {
        width: 90%;
        margin: auto;
    }

    #log_signIp_head {
        width: 85%;
    }

    #log_signIp_head>h3 {
        display: block;

    }

    /* .log_anchor {
        margin-top: 5%;
    } */
}