body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#log_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}
#log_cross-cont{
    /* border:1px solid red; */
  width:10%;
  display: flex;
  justify-content: left;

}

#log_cross {
    font-size: 50px;
    color: rgb(41, 39, 39);
    cursor: pointer;
}

.log_popup {
    border-radius:20px;
    width: 40%;
    /* background: linear-gradient(90deg, #89c8d8, #9ca0a5, rgb(101, 225, 225)); */
    background-color: rgba(255, 255, 255, 0.982);
    padding-bottom: 3%;
    position: absolute;
    top: 0;
    /* top: 35%; */
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);  
   /*  for popop  I will uncomment this and comment next line*/
    /* transform: translate(-50%, -30%) scale(1); */
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.log_open-popup {
    visibility: visible;
    top: 35%;
    transform: translate(-50%, -30%) scale(1);

}


#log_signIn_head {

    width:90%;
    /* border: 1px solid blue; */
    text-align: center;
    color: #dd4a39;
   
  


}
#log_signIn_head>h1 {
    margin-top: 5%;
   margin-bottom: 5%;
}

#log_signIn_head>h3 {
    display: inline;
    color: black; 
}

#log_signIn_head>a {
    text-decoration: none;
    color: red;
    cursor: pointer;
    
}



#log_form {
    /* border:2px dashed red; */
    width: 85%;
    margin: auto;
    margin-top:-5%;

}

 #log_form input {
    padding-left:10px;
    font-size: 100%;
    height: 2.7rem;
    width: 100%;
    margin-top: 8%;
    border: none;
    background-color: #e1dfdf;
    display: block;
    border-radius:10px;
}

#log_form #gender {

    height: 1rem;
    width: 10%;
    display: inline;

}

 #log_form #log_Login_but {
    border: 1px solid red;
    color: red;
    font-weight: 600;
    
    
}

#log_Fb_Gog_but {
    /* border:1px solid green; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#log_google {
    background-color: #dd4a39;
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: white;
    border: none;
    font-size: 80%;
    padding:3%;
}

#log_facebook {
    background-color: #3b5a95;
    display: flex;
    justify-content: space-around;
    width: 48%;
    color: white;
    border: none;
    font-size: 80%;
    padding:3%;

}



#log_or {
    margin-top: 5%;
  margin-bottom: 5%;
    text-align: center;
    color: rgb(69, 66, 66);
}


/* .log_anchor {
    margin-top: 0%;
} */

.log_anchor>a {
    text-decoration: none;
    font-weight: 500;
    color: white
}

span {
    color: red;
}

#log_clickme {
    display: block;
    color: red;
    font-size: 30px;
    position: absolute;
    top: 10px;
}

 /* for medium screen */
@media screen and (min-width:641px) and (max-width:1007px) {
    .log_popup {
        width: 90%;
        margin-top: 10%;
    }

    #log_Fb_Gog_but {
        display: flex;
        justify-content: space-between;
    }

    #log_facebook {
        width: 48%;
        margin: auto;
      

    }

    #log_google {
        width: 48%;
        margin: auto;
        

    }

    #log_signIp_head {
        width: 92%;

    }

    #log_signIp_head>h3 {
        display: block;

    }

    /* .log_anchor {
        margin-top: 2%;
    } */
}
 /* for small screen */
@media screen and (max-width:640px) {
    .log_popup {
        width: 90%;
    }

    #log_Fb_Gog_but {
        display: block;
    }

    #log_facebook {
        width: 90%;
        margin: auto;
        margin-top: 10%;

    }

    #log_google {
        width: 90%;
        margin: auto;
    }

    #log_signIp_head {
        width: 85%;
    }

    #log_signIp_head>h3 {
        display: block;

    }

    /* .log_anchor {
        margin-top: 5%;
    } */
}