*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
.top{
    background-color: #ce2127;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0px 20px;
}
.close i{
    font-size: 42px;
    color: white;
    cursor: pointer;
}
#burgerMenu{
    width: 70%;
    transition: 0.3s ease-in-out;
    z-index: 2;
    position: absolute;
    background-color: #fff;
}
.brgrMenus{
    display: flex;
    color: rgb(50, 50, 50);
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 25px 25px;
    font-size: 20px;
    align-items: center;
}
.brgrMenus:hover{
    color: #ce2127;
    margin-left: 5%;
    transition: 0.5s;
}
.brgrMenus i{
    width: 12%;
}
.brgrMenus h4{
    font-weight: 100;
    font-size: 23px;
}
#adminNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 43px;
    background-color: cadetblue;
    height: 70px;
    position: relative;
}
#burgerBtn{
    font-size: 24px;
}
#searchBar{
    display: flex;
    margin: auto;
    border: 1px solid gray;
    border-radius: 30px;
    align-items: center;
    height: 32px;
    background-color: #fff;
}
#searchBar input{
    border: none;
    margin-left: 8px;
    font-size: 17px;
}
#searchBtn{
    border: none;
    font-weight: 700;
    color: white;
    background-color: #ce2127;
    padding: 8px;
    border-radius: 0px 29px 29px 0px;
}
#logoutBtn{
    border: none;
    background-color:rgb(182, 132, 97);
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 30px;
    color: #fff;
    align-items: center;
}
main{
    align-items: center;
    width: 80%;
    margin-left: 150px;
}
#adminHeading{
    font-size: 40px;
    color: rgb(61, 61, 61);
    margin: 20px 0px;
}
.allCard{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.countCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 15%;
}
.countCard i{
    font-size: 25px;
    color: cornflowerblue;
}
.t_nums{
    font-size: 40px;
    font-weight: 700;
    color: rgb(61, 61, 61);
}
.countCard h3{
    color: cornflowerblue;
}