*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.maincolor{
    background-color: #CE2127;
    color:white
}
.header_login_signup{
  
    
    height: 70px;
    /* border: 1px solid red; */
    display: flex;
}
.avis_logo{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20%;
    color: white;
}
#logores{

    width: 65%;
    height: 45%;
    border-radius: 20%;
    
}

.nav_options{
   
    
    
    display: grid;
    grid-template-columns: repeat(7,1fr);
    

    
}
.nav_options>div{
    padding: 0px 23px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-size: 13px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
    
}


.nav_options>div a{
    
    text-decoration: none;
    color: white;
   

    
}
.LOGIN_SIGNUP{
    background-color: #a40c12;
}
#contacts a{
    display: block;
}
.givespace{
    
    display: flex;
    
    justify-content: space-evenly;
}
@media screen and (min-width:768px)  and (max-width:980px) {
    .nav_options>div{
        font-size: 10px;
    }
   
}
.givespace div{
    padding: 0px 10px;
}
.bg_banner_image{
    
    width: 100%;
    height: 350px;  
    background-image: url("https://i.ibb.co/bX27tN1/banner-bg.png");
    display: flex;
    align-items: center;
}
 .bg_banner_image>div{
    margin: auto;
    width: 75%;
    height: 250px;
   
    
}
.bg_banner_image a{
    text-decoration: none;
    
}
#search_container{
    display: flex;
    justify-content: center;
    margin: auto;
}
#search_container div{
    
    display: flex;
    width: 100%;
    height: 45px;
    
   
    
}
#search_container div a{
    margin: auto;
    color: #FFFFFF;
    text-decoration: none;
    
}
#search_container div:nth-child(1){
    
    background-color:#CE2127;
}
#search_container div:nth-child(2){
    
    background-color:#2b2b2b;
}
.radio1{
    width: 13px;
    height: 13px;
    
    margin-right: 5px;
    border-radius: 50%;
    
}
#choose_drive{
    display: flex;
    justify-content: center;
    margin: auto;
}
#choose_drive div{
    display: flex;
    width: 100%;
    height: 50px;
    
}
#choose_drive div:nth-child(1){
    
    background-color:#2b2b2b;

}
#choose_drive div:nth-child(2){
    background-color:#000000;

}
#choose_drive a{
    color: #FFFFFF;
    font-size: 12px;
    margin: auto;
    
}
#choose_drive span{
    
    padding-left: 35px;
}

#inner_search_func ul{
    
    display: flex;
    justify-content: center;
    
    margin: auto;
    margin-top: 20px;
    list-style: none;
    color: white;
    
}
#inner_search_func {
    background-color: #000000B3;
    
    
}
#below_choose_drive li{
    
    
    margin: 2px 15px;
    display: inline-block;
}
#below_choose_drive div:nth-child(1) a{
    font-size: 11px;
    
}
#SEARCH{
background-color: #CE2127;
color: #FFFFFF;
text-align: center;

border: 0px
}
#below_choose_drive li a{
    color: #FFFFFF;
    font-size: 12px;
    margin: auto;
    display: block;
}   
#actual_search ul{
    margin-bottom: 20px;
}

#actual_search ul select{
    text-align: center;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 5px 20px 5px 5px;
    text-align: left;
}
#actual_search ul input{
    text-align: center;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 5px 20px 5px 5px;
}
#airport{
    display: block;
}
#actual_search span{
    font-size: 12px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}
#withincity{
    display: none;
}
#outstation{
    display: none;
}
#onewaytransfer{
    display: none;
}
@media screen and (min-width:768px)  and (max-width:980px) {
    #actual_search ul input{
        
        border-radius: 5px;
        width: 70px;
        height: 30px;
        padding: 5px 20px 5px 8px;
    }
    #actual_search ul select{
        
        width: 70px;
        height: 30px;
        padding: 5px 20px 5px 8px;
    }
   
}
#actual_search p{
    color: #FFFFFF;
    font-size: 13px;
    padding-left: 25px;
}
#sliding_message{
    width: 100%;
    font-size: 14px;
    height: 25px;
    padding: 5px 0px 5px 0px;
    
}
#div_offers{
    
    width: 100%;
    height: auto;
    background-color: #e7e4e4;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
}
#div_offers>div{
    margin: 50px 0px;
    width: 30%;
    height: 80%;
    
    
}
#div_offers>div img{
    
    width: 100%;
    margin-bottom: 40px;
    
}
#div_offers>div img:hover{
    cursor: grabbing;
}
#div_offers>div span{
   
    display: block;
    height: 10px ;
    width: 90px;
    border-radius: 10px;
    margin: auto;
    background-color: #CE2127;
    
}
#div_offers>div p{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #CE2127;
}
#div_offers>div small{
    line-height: 30px;
    font-size: 14px;
    color: #000000;
}
#home_footer{
    display: flex;
    justify-content: center;
   
    width: 100%;
    height: 400px;
    background-color: #CE2127;
    /* border: 1px solid red; */
}
#home_footer>div{
    padding: 60px 20px;
    width: 27%;
    
    display: flex;
    flex-direction: column;
   
}
#home_footer>div div{
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
#home_footer a{
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
#home_footer a:hover{
    text-decoration: underline;
    padding: 5px;
}
#home_footer span{
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
#home_footer>div:nth-child(3){
   text-align: center;
   box-shadow: none;
}
#home_footer>div:nth-child(3) i{
    font-size: 20px;
    
}
#Get_in_touch{
    border: 0px;
    border-radius: 5px;
    padding: 8px 12px;
}
#appsection{
    padding: 50px 100px;
    width: 100%;
    height: 600px;
    background-image: url("https://www.avis.co.in/images/appbg.jpg");
}
#appsection>div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: flex-start;
    width:90%

}
#appsection div a{
    text-decoration: none;
    color: #CE2127;
}
#appsection>div div{
    width: 20%;
}
#appsection>div div span{
    margin-left: 33px;
    
}
#appsection>div div:nth-child(1){

margin-top: 30px;
}
#appsection>div div:nth-child(3){
   
    margin-top: 30px;
    width: 15%;
}
#imagegif{
    width:90%

}

